<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.size %></td>
  <td><%= link_to t('admin.answers.answer.show'), admin_test_path(test) %></td>
  <td><%= link_to t('admin.answers.answer.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('admin.answers.answer.delete'), admin_test_path(test),
                  method: :delete,
                  data: {confirm: t('.del_confirm', title: test.title)} %>
  </td>
</tr>
